[submodule "deps"]
	path = deps
	url = git@github.com:mikeseven/node-native-graphics-deps.git
[submodule "node_modules/node-glfw"]
	path = node_modules/node-glfw
	url = https://github.com/DiThi/node-glfw
